<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datting">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Users.Language_Activity"  android:theme="@style/AppTheme_ngongu" />
        <activity android:name=".Users.Smoking_Activity"  android:theme="@style/AppTheme_hutthuoc"/>
        <activity android:name=".Users.Alcohol_Activity" android:theme="@style/AppTheme_ruoubia"/>
        <activity
            android:name=".Users.Weight_Activity"
            android:theme="@style/AppTheme_seek2" />
        <activity
            android:name=".Users.Height_Activity"
            android:theme="@style/AppTheme_seek1" />
        <activity android:name=".Users.AboutMe_Activity" />
        <activity android:name=".Users.Working_Activity" />
        <activity android:name=".Users.User_Activity" />
        <activity android:name=".Meet.ChonlocActivity" />
        <activity android:name=".Users.Information_Activity" />
        <activity android:name=".BottomNavigation_Activity" />
        <activity android:name=".Chat.MessageActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>